@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/* css variables */

:root {
    --color-bg: #0d2156;
    --light-blue: #06277E;
    --dark-blue: #001122;
    --color-white: #e5e5e5;
}

/* change navbar color on scroll */

.change__navbar__theme__onscroll {
    --light-blue: #187593;
}



/* general styles */

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    list-style: none;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

a {
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

span {
    overflow: hidden;
}

h4 {
    width: 100%;
    font-size: 25px;
}

p {
    text-align: justify;
    text-indent: 50px;
    line-height: 1rem;
    font-size: 0.8rem;
}

body {
    background: var(--color-bg);
    width: 100vw;
    height: 100vh;
}


/* ======nav==== */

nav {
    background: var(--light-blue);
    width: 100%;
    height: 4rem;
    position: fixed;
    z-index: 100;
    display: grid;
    place-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0);
}

nav .nav__items {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .nav__items .logo {
    width: 10%;
    height: 60%;
    max-width: 50px;
    border-radius: 3px;
    overflow: hidden;
}

nav .nav__items .logo img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

nav .nav__items .search__bar {
    width: 60%;
    height: 70%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    background: var(--dark-blue);
    padding: 0 10px;
    border-radius: 3px;
    border: 2px solid var(--color-white);
    max-width: 600px;

}

nav .nav__items .search__bar input {
    width: 90%;
    height: 100%;
    color: var(--color-white);
    background: transparent;
}

nav .nav__items .search__bar input::placeholder {
    color: var(--color-white);
}

nav .nav__items .search__bar button {
    border-radius: 3px;
    padding: 4px 20px;
    cursor: pointer;
    background: var(--light-blue);
    display: grid;
    place-items: center;
    transition: all 400ms ease;
}

nav .nav__items .search__bar button:hover, main .container .categories .category .category__action__btn button:hover {
    opacity: 0.7;
}

nav .nav__items .nav__list__items {
    width: 35%;
    height: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav__items .nav__list__items li {
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav .nav__items .nav__list__items li:hover>a {
    color: rgba(181, 219, 248);
}


nav .nav__items .nav__list__items .active::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--color-white);
    position: absolute;
    bottom: 6px;
}

nav .nav__items .side__menu__btn {
    display: none;
    align-items: center;
    justify-content: center;
}

nav .nav__items .side__menu__btn button {
    background: transparent;
    cursor: pointer;
}

nav .nav__items .side__menu__btn button span {
    font-size: 2.4rem;
}


/* Then of navigation bar */


main {
    position: absolute;
    top: 4rem;
    width: 100%;
}

main article {
    width: 100%;
    height: 300px;
    display: grid;
    place-items: center;
    padding: 10px 0;
    background: var(--dark-blue);
}

main article .top__pick {
    width: 80%;
    height: 90%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
}

main article .top__pick .about__the__top__pick {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main article .top__pick .top__pick__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 3rem 0 3rem 0;
    border: 10px solid var(--color-white);
}

main article .top__pick .top__pick__image img {
    width: 100%;
    height: 100%;
}

img {
    cursor: pointer;
    transition: all 400ms ease;
}

img:hover {
    filter: saturate(0);
}

main .container {
    width: 100%;
    margin: 1rem 0;
    display: grid;
    place-items: center;
    border-bottom: 1px solid var(--color-white);
}

main .container .categories {
    width: 80%;
    height: auto;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 20px;
}


main .container .categories .category {
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-rows: 40px auto 60px 40px;
    row-gap: 6px;
    border-radius: 10px;
    border: 2px solid var(--color-white);
}

main .container .categories .category #group_category__btn {
    background: var(--dark-blue);
    border-radius: 3px;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 6px 0;
    height: 100%;
    margin-top: 2px;
}

main .container .categories .category .category__top__image {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

main .container .categories .category .category__top__image img {
    width: 100%;
    height: 100%;
}

main .container .categories .category .sub__category__images {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}

main .container .categories .category .sub__category__images .sub__category__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 3px;
}

main .container .categories .category .sub__category__images .sub__category__image img {
    width: 100%;
    height: 100%;
}

main .container .categories .category .category__action__btn {
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

main .container .categories .category .category__action__btn button {
    background: var(--dark-blue);
    border-radius: 3px;
    font-weight: 400;
    padding: 0 5px;
    width: 100%;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 400ms ease;
}

main .container .categories .category .category__action__btn button:first-child, main .container .categories .category .category__action__btn button span {
    color: rgb(190, 111, 111);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

main .container .categories .category .category__action__btn button span {
    font-size: 1.2rem;
}


/* the end of main content */

main footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

/* the end of footer */


/* Start of media queries */

/* media queries for small laptops and large tablets */

@media screen and (max-width:1100px) {
    nav .nav__items {
        gap: 10px;
        width: 96%;
    }

    main article .top__pick {
        gap: 20px;
        width: 90%;
    }

    main .container .categories {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
}

/* media queries for medium and large phones */

@media screen and (max-width:850px) {
    h4 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    nav .nav__items .nav__list__items {
        display: none;
        flex-direction: column;
        height: fit-content;
        width: 10rem;
        position: fixed;
        top: 4.2rem;
        right: -100%;
        z-index: 100;
        align-items: center;
        background: var(--light-blue);
        animation: showSideMenu 400ms ease forwards;
    }

    @keyframes showSideMenu {
        to {
            right: 2%;
        }
    }

    nav .nav__items .nav__list__items li {
        border-bottom: 1px solid var(--color-white);
        width: 100%;
        height: 4rem;
    }

    nav .nav__items .nav__list__items li a {
        width: 100%;
        margin-left: 30px;
    }

    nav .nav__items .nav__list__items li:last-child {
        border-bottom: none;
    }

    nav .nav__items .nav__list__items .active::after {
        content: "";
        background: var(--color-white);
        height: 80%;
        width: 2px;
        position: absolute;
        left: 8px;
    }

    nav .nav__items .side__menu__btn {
        display: block;
    }

    nav .nav__items .side__menu__btn .close__nav__btn {
        display: none;
    }

    main article .top__pick .about__the__top__pick {
        width: 100%;
    }

    main article .top__pick .about__the__top__pick .title {
        width: 100%;
    }

}

/* media querie for medium and small phones */

@media screen and (max-width:600px) {
    main article {
        height: fit-content;
        padding-bottom: 30px;
    }

    main article .top__pick {
        grid-template-columns: 1fr;
        height: 100%;
        place-items: start;
        row-gap: 20px;
    }

    main article .top__pick .about__the__top__pick {
        height: max-content;
        gap: 10px;
    }

    main article .top__pick .top__pick__image {
        border-radius: 2rem 0 2rem 0;
    }

    p {
        font-size: 12px;
    }

    h4 {
        font-size: 20px;
    }

    main .container .categories {
        grid-template-columns: 1fr;
    }


}